.job-detailed-view-container {
  background-color: black;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
div {
  line-height: 25px;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
}
.skill-item {
  display: flex;
  list-style: none;
  width: 30%;
  margin: 10px;
  margin-bottom: 30px;
}
.skill-img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.container {
  align-self: center;
  display: flex;
  min-height: 70vh;
  flex-direction: column;
  align-items: center;
  padding: 35px;
  width: 100vw;
}
.visit-link-container {
  display: flex;
  justify-content: space-between;
}
.visit-link {
  color: #6366f1;
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
}
.job-item-container {
  background-color: #272727;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  margin-right: 20px;
}
.similar-jobs-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.logo-section {
  display: flex;
}
.company-logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.job-title {
  color: white;
  font-family: 'roboto';
  font-size: 20px;
  margin-top: 10px;
}
.rating {
  color: white;
  font-family: 'roboto';
  margin-right: 20px;
}

h1 {
  margin: 0px;
}
.icons {
  color: white;
  margin-right: 10px;
}
.employment-section {
  display: flex;
  justify-content: space-between;
}
.employment {
  display: flex;
}
hr {
  margin: 0px;
}
.job-description {
  color: white;
  font-family: 'roboto';
}
.life-at-company-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.display {
  width: 60%;
}
.life-at-img {
  width: 30%;
}
.similar-job-heading {
  color: white;
  font-weight: 600;
  font-family: 'Roboto';
  align-self: flex-start;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .skill-item {
    width: 45%;
    box-sizing: border-box;
    margin-left: 0px;
  }
  .skills-container {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .life-at-company-container {
    flex-direction: column;
  }
  .display {
    width: 100%;
  }
  .life-at-img {
    width: 100%;
  }
  .similar-job-heading {
    font-size: 20px;
  }
}
